In [1]:
import pandas as pd
import mysql.connector
import os
from sqlalchemy import create_engine
import seaborn as sns  
import matplotlib.pyplot as plt
import numpy as np

In [2]:
conn = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'korty',
    database = 'DATA_Korty'

)
cursor = conn.cursor()

engine = create_engine("mysql+mysqlconnector://root:korty@localhost/DATA_Korty")

In [3]:
query = "SELECT * FROM fixed_salary_survey;"
df = pd.read_sql(query, conn)
df.head()

/tmp/ipykernel_11782/4203725598.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,survey_time,age,industry,job_title,expected_pay(40hrs),annual_salary,bonuses,currency,other_currency,income_context,work_country,state(only_USA),work_city,overall_work_experiance,domain_work_experiance,education_level,gender,ethinicity
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,None,"55,000",0.0,USD,None,None,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,None,"54,600",4000.0,GBP,None,None,United Kingdom,None,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,None,"34,000",NaN,USD,None,None,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,None,"62,000",3000.0,USD,None,None,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,None,"60,000",7000.0,USD,None,None,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [4]:
numbers = ['annual_salary' ]
years = ['survey_time']

for i in numbers:
    df[i] = df[i].str.replace(',','').astype('int')
for i in years:
    df[i] = pd.to_datetime(df[i])

In [5]:
print(df['annual_salary'].unique()[:20])

[ 55000  54600  34000  62000  60000  33000  50000 112000  45000  47500
 100000  52000  32000  24000  85000  59000  98000  54000  74000  63000]

In [6]:
total = df.shape[0]

for col in df.columns:
    print('~'*72)
    null_values_column = df[col].isna().sum()
    percentage = round((null_values_column/total)*100,3)
    print(f'|{col}| has total |{null_values_column}| null values,i.e |{percentage}%| nulls')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|survey_time| has total |0| null values,i.e |0.0%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|age| has total |0| null values,i.e |0.0%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|industry| has total |78| null values,i.e |0.277%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|job_title| has total |2| null values,i.e |0.007%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|expected_pay(40hrs)| has total |20869| null values,i.e |74.138%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|annual_salary| has total |0| null values,i.e |0.0%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|bonuses| has total |7336| null values,i.e |26.061%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|currency| has total |0| null values,i.e |0.0%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|other_currency| has total |27935| null values,i.e |99.24%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|income_context| has total |25100| null values,i.e |89.168%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|work_country| has total |0| null values,i.e |0.0%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|state(only_USA)| has total |5050| null values,i.e |17.94%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|work_city| has total |82| null values,i.e |0.291%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|overall_work_experiance| has total |0| null values,i.e |0.0%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|domain_work_experiance| has total |0| null values,i.e |0.0%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|education_level| has total |228| null values,i.e |0.81%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|gender| has total |174| null values,i.e |0.618%| nulls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
|ethinicity| has total |183| null values,i.e |0.65%| nulls

In [7]:
'''expected_pay(40hrs) other_currency income_context

    have very high null values 
other_currency and income_context having 99 and 89 persecnt prespectively 
thus it will be better to drop these columns permanently 

'''

'expected_pay(40hrs) other_currency income_context\n\n    have very high null values \nother_currency and income_context having 99 and 89 persecnt prespectively \nthus it will be better to drop these columns permanently \n\n'

In [8]:
df = df.drop(columns= ['expected_pay(40hrs)', 'other_currency' ,'income_context'])

In [9]:
df['age']= df['age'].str.strip().str.replace("'","")

In [10]:
for i in ['overall_work_experiance','domain_work_experiance' ]:
    print(i)
    print(df[i].unique())

overall_work_experiance
['5-7 years' '8 - 10 years' '2 - 4 years' '21 - 30 years' '11 - 20 years'
 '1 year or less' '41 years or more' '31 - 40 years']
domain_work_experiance
['5-7 years' '2 - 4 years' '21 - 30 years' '11 - 20 years'
 '1 year or less' '8 - 10 years' '31 - 40 years' '41 years or more']

In [11]:
experience_map = {
    '1 year or less': '0-1',
    '2 - 4 years': '2-4',
    '5-7 years': '5-7',
    '8 - 10 years': '8-10',
    '11 - 20 years': '11-20',
    '21 - 30 years': '21-30',
    '31 - 40 years': '31-40',
    '41 years or more': '45+'
}
df['overall_work_experiance'] = df['overall_work_experiance'].map(experience_map)
df['overall_work_experiance'] = df['overall_work_experiance'].str.strip().str.replace("'",'')
df['domain_work_experiance']  = df['domain_work_experiance'].map(experience_map)
df['domain_work_experiance'] = df['domain_work_experiance'].str.strip().str.replace("'",'')

In [12]:
df['industry'] = df['industry'].fillna(df['industry'].mode()[0])

df['job_title'] = df['job_title'].fillna(df['job_title'].mode()[0])

df['gender'] = df['gender'].replace({'Other or prefer not to answer':'Others','Prefer not to answer':'Others'})
df.gender.value_counts()

gender
Woman         21411
Man            5518
Non-binary      747
Others          299
Name: count, dtype: int64

In [13]:
def simplify_ethnicity(x):
    if pd.isna(x):
        return "Other/Unknown" 
    x = x.lower()
    if "white" in x and "," not in x and "hispanic" not in x and "asian" not in x \
       and "black" not in x and "middle eastern" not in x and "native" not in x:
        return "White"
    elif "asian" in x and "," not in x:
        return "Asian"
    elif "black" in x and "," not in x:
        return "Black"
    elif "hispanic" in x and "," not in x:
        return "Hispanic/Latino"
    elif "middle eastern" in x and "," not in x:
        return "Middle Eastern"
    elif "native american" in x and "," not in x:
        return "Native American"
    elif "prefer not" in x or "another option" in x:
        return "Other/Unknown"
    elif "," in x:  
        return "Multiracial"
    else:
        return "Other"

df["ethinicity"] = df["ethinicity"].apply(simplify_ethnicity)

print(df["ethinicity"].value_counts())

ethinicity
White              23249
Multiracial         1760
Asian               1416
Other/Unknown        913
Black                696
Middle Eastern        72
Native American       43
Name: count, dtype: int64

In [14]:
usa_list = [
    'United States','US','USA','usa','U.S.','United States ','us','Usa',
    'United States of America','United states','USA ','United states ',
    'Virginia', 
    'united states','United States of America ','U.S. ','U.S>','US ',
    'United State','U.S.A','U.S.A.','America','united states of america',
    'Us','The United States','United State of America','United Stated',
    'u.s.','UNITED STATES','united States','United Statws','U.S',
    'Unites States ','Usa ','U.S.A. ','USA-- Virgin Islands','U. S. ',
    'United Sates','United States of American ','Uniited States',
    'United Sates of America','United States (I work from home and my clients are all over the US/Canada/PR',
    'Unted States','United Statesp','United Stattes','United Statea',
    'Uniyed states','Uniyes States','I.S.',' US','Unites states ','Us ',
    'Unite States','The US','united states ','United states of America ',
    'IS','United States of america','UnitedStates','United statew',
    ' United States','United Statues','Untied States','USAB','Unitied States',
    'United States Of America','United Sttes','united stated','Uniter Statez',
    'U. S ','USA tomorrow ','United Stateds','United Stares ','California ',
    'United Statss','United states of america','UsA','United  States',
    'U.S.A ','United States is America','United States of American',
    'United States of Americas','U. S.','US of A','United States of america ',
    'U.SA','United Status',' U.S.','UXZ','U.s.a.','USS','Uniteed States','San Francisco',
    'U.s.','usa ','Usat','🇺🇸 ','Unitef Stated','United STates','USaa','uSA',
    'United States- Puerto Rico','america','uS','USD','USA (company is based in a US territory, I work remote)',
    'Unites States','United Statees','UNited States','United Stares',
    'United states of America',"USA, but for foreign gov\'t",
    'I work for a UAE-based organization, though I am personally in the US.',
    'US govt employee overseas, country withheld','ISA',"Puerto Rico", "Puerto Rico "
]

uk_list = [
    'United Kingdom','United Kingdom ','UK','UK ','Uk','Uk ','Great Britain',
    'Great Britain ','England','England ','ENGLAND','Scotland','Scotland ',
    'Isle of Man', 'England/UK','England, UK.','England, UK','United Kingdom (England)',
    'United Kingdom.','United kingdom','United kingdom ','U.K. ','U.K.','U.K',
    'U.K. (northern England)','UK (Northern Ireland)','UK (England)',
    'UK, remote','Scotland, UK','Unites kingdom ','united kingdom',
    'United Kingdomk','Wales (United Kingdom)','Wales, UK','Wales (UK)',
    'Cayman Islands','England, Gb','England, United Kingdom','England, United Kingdom ',
    'Englang','Wales','Britain ','United Kindom','uk','UK for U.S. company','england','London'
]

canada_list = [
    'Canada','canada','Canada ','CANADA ','Canada, Ottawa, ontario',
    'CANADA ','Canadw','Canda','Canad','Can','Canadá','Canada and USA',
    'Csnada','CANADA','I am located in Canada but I work for a company in the US'
]

australia_list = ['Australia','Australia ','australia','Australi','Australian ']

netherlands_list = ['The Netherlands','The Netherlands ','the Netherlands','the netherlands','Netherlands','netherlands','Netherlands ','Nederland','The netherlands','NL']

france_list = ['France','FRANCE','France ','france']

germany_list = ['Germany','Germany ','germany']

ireland_list = ['Ireland','Ireland ','ireland','Northern Ireland','Northern Ireland ','Northern Ireland, United Kingdom']

switzerland_list = ['Switzerland','Switzerland ','SWITZERLAND','switzerland','Bermuda']

sweden_list = ['Sweden','Sweden ']

mexico_list = ['Mexico','Mexico ','México']

south_africa_list = ['South Africa','South Africa ','South africa']

denmark_list = ['Denmark','Denmark ','denmark','Danmark']

greece_list = ['Greece']

japan_list = ['Japan','Japan ','japan','Japan, US Gov position']

austria_list = ['Austria','Austria, but I work remotely for a Dutch/British company']

brazil_list = ['Brazil','Brazil ','Brasil']

argentina_list = ['Argentina','ARGENTINA BUT MY ORG IS IN THAILAND',"I work for an US based company but I'm from Argentina."]

hungary_list = ['Hungary']

luxembourg_list = ['Luxembourg','Luxemburg']

czech_list = ['Czech republic','Czechia','czech republic','Czech Republic ','Czech Republic','Česká republika']

latvia_list = ['Latvia']

finland_list = ['finland','Finland']

rwanda_list = ['Rwanda']

uae_list = ['United Arab Emirates ','UAE','U.A.', 'UA']

bangladesh_list = ['Bangladesh ','Bangladesh']

romania_list = ['Romania','From Romania, but for an US based company']

serbia_list = ['Serbia']

philippines_list = ['Philippines','Remote (philippines)','philippines']

russia_list = ['Russia ','Russia']

poland_list = ['Poland','Poland ']

turkey_list = ['Turkey']

catalonia_list = ['Catalonia']

italy_list = ['Italy (South)','Italy','Italia']

china_list = ['China','Mainland China']

afghanistan_list = ['Afghanistan']

israel_list = ['Israel']

ivory_coast_list = ["Cote d'Ivoire"]

somalia_list = ['Somalia']

sri_lanka_list = ['Sri lanka','Sri Lanka']

spain_list = ['Spain','Spain ','spain', 'Catalonia']

slovakia_list = ['Slovakia']

sierra_leone_list = ['Sierra Leone']

chile_list = ['Chile']

nigeria_list = ['Nigeria','NIGERIA','Nigeria ']

panama_list = ['Panamá','Panama']

congo_list = ['Congo']

uruguay_list = ['Uruguay']

pakistan_list = ['Pakistan','pakistan','Company in Germany. I work from Pakistan.']

uganda_list = ['Uganda']

malta_list = ['Malta']

saudi_arabia_list = ['Saudi Arabia']

bulgaria_list = ['Bulgaria']

estonia_list = ['Estonia']

morocco_list = ['Morocco']

ecuador_list = ['Ecuador']

zimbabwe_list = ['Zimbabwe']

ghana_list = ['Ghana']

croatia_list = ['Croatia ','croatia']

ukraine_list = ['Ukraine ']

jamaica_list = ['Jamaica']

kenya_list = ['Kenya']

jordan_list = ['Jordan']

cyprus_list = ['Cyprus']

liechtenstein_list = ['Liechtenstein']

bosnia_list = ['Bosnia and Herzegovina']

myanmar_list = ['Myanmar','Burma']

tanzania_list = ['Tanzania']

hong_kong_list = ['Hong Kong','Hong Kong ','Hong KongKong','hong konh']

egypt_list = ['Egypt']

thailand_list = ['Thailand','Thailand ']

belgium_list = ['Belgium','Belgium ']

portugal_list = ['Portugal','Portugal ']

bahamas_list = ['The Bahamas ','Bahamas']

costa_rica_list = ['Costa Rica']

slovenia_list = ['Slovenia']

india_list = ['India','INDIA','india','ibdia']

south_korea_list = ['South Korea','South Korea ']

indonesia_list = ['Indonesia']

norway_list = ['Norway','Norway ']

singapore_list = ['Singapore','Singapore ','singapore']

new_zealand_list = ['New Zealand','New Zealand Aotearoa','New zealand', 'NZ', 'new zealand', 'Aotearoa New Zealand',
                    "New Zealand", "New Zealand ", " New Zealand"]

malay_list = ["Malaysia", "Malaysia "]

others = [
    'Contracts',
    "We don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so I got a raise because a 3rd party assessment showed I was paid too little for the area we were located",
    'Global','Worldwide (based in US but short term trips aroudn the world)',
    'Currently finance','$2,175.84/year is deducted for benefits',
    'Jersey, Channel islands','Hartford','Remote',
    'For the United States government, but posted overseas',
    'bonus based on meeting yearly goals set w/ my supervisor',
    'International ',
    "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission. ",
    'Africa','Y','United y','europe',
    'UK, but for globally fully remote company',
    'na','Policy','ss','dbfemf','LOUTRELAND','ff',
    'From New Zealand but on projects across APAC',
    'n/a (remote from wherever I want)', 
    'I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered.',
    'I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered. '
]

replace_map = {}
for val in usa_list: replace_map[val] = "USA"
for val in uk_list: replace_map[val] = "United Kingdom"
for val in canada_list: replace_map[val] = "Canada"
for val in australia_list: replace_map[val] = "Australia"
for val in netherlands_list: replace_map[val] = "Netherlands"
for val in france_list: replace_map[val] = "France"
for val in germany_list: replace_map[val] = "Germany"
for val in ireland_list: replace_map[val] = "Ireland"
for val in malay_list: replace_map[val] = "Malaysia"
for val in switzerland_list: replace_map[val] = "Switzerland"
for val in sweden_list: replace_map[val] = "Sweden"
for val in mexico_list: replace_map[val] = "Mexico"
for val in south_africa_list: replace_map[val] = "South Africa"
for val in denmark_list: replace_map[val] = "Denmark"
for val in greece_list: replace_map[val] = "Greece"
for val in japan_list: replace_map[val] = "Japan"
for val in austria_list: replace_map[val] = "Austria"
for val in brazil_list: replace_map[val] = "Brazil"
for val in argentina_list: replace_map[val] = "Argentina"
for val in hungary_list: replace_map[val] = "Hungary"
for val in luxembourg_list: replace_map[val] = "Luxembourg"
for val in czech_list: replace_map[val] = "Czech Republic"
for val in latvia_list: replace_map[val] = "Latvia"
for val in finland_list: replace_map[val] = "Finland"
for val in rwanda_list: replace_map[val] = "Rwanda"
for val in uae_list: replace_map[val] = "United Arab Emirates"
for val in bangladesh_list: replace_map[val] = "Bangladesh"
for val in romania_list: replace_map[val] = "Romania"
for val in serbia_list: replace_map[val] = "Serbia"
for val in philippines_list: replace_map[val] = "Philippines"
for val in russia_list: replace_map[val] = "Russia"
for val in poland_list: replace_map[val] = "Poland"
for val in turkey_list: replace_map[val] = "Turkey"
for val in catalonia_list: replace_map[val] = "Catalonia"
for val in italy_list: replace_map[val] = "Italy"
for val in china_list: replace_map[val] = "China"
for val in afghanistan_list: replace_map[val] = "Afghanistan"
for val in israel_list: replace_map[val] = "Israel"
for val in ivory_coast_list: replace_map[val] = "Côte d’Ivoire"
for val in somalia_list: replace_map[val] = "Somalia"
for val in sri_lanka_list: replace_map[val] = "Sri Lanka"
for val in spain_list: replace_map[val] = "Spain"
for val in slovakia_list: replace_map[val] = "Slovakia"
for val in sierra_leone_list: replace_map[val] = "Sierra Leone"
for val in chile_list: replace_map[val] = "Chile"
for val in nigeria_list: replace_map[val] = "Nigeria"
for val in panama_list: replace_map[val] = "Panama"
for val in congo_list: replace_map[val] = "Congo"
for val in uruguay_list: replace_map[val] = "Uruguay"
for val in pakistan_list: replace_map[val] = "Pakistan"
for val in uganda_list: replace_map[val] = "Uganda"
for val in malta_list: replace_map[val] = "Malta"
for val in saudi_arabia_list: replace_map[val] = "Saudi Arabia"
for val in bulgaria_list: replace_map[val] = "Bulgaria"
for val in estonia_list: replace_map[val] = "Estonia"
for val in morocco_list: replace_map[val] = "Morocco"
for val in ecuador_list: replace_map[val] = "Ecuador"
for val in zimbabwe_list: replace_map[val] = "Zimbabwe"
for val in ghana_list: replace_map[val] = "Ghana"
for val in croatia_list: replace_map[val] = "Croatia"
for val in ukraine_list: replace_map[val] = "Ukraine"
for val in jamaica_list: replace_map[val] = "Jamaica"
for val in kenya_list: replace_map[val] = "Kenya"
for val in jordan_list: replace_map[val] = "Jordan"
for val in cyprus_list: replace_map[val] = "Cyprus"
for val in liechtenstein_list: replace_map[val] = "Liechtenstein"
for val in bosnia_list: replace_map[val] = "Bosnia and Herzegovina"
for val in myanmar_list: replace_map[val] = "Myanmar"
for val in tanzania_list: replace_map[val] = "Tanzania"
for val in hong_kong_list: replace_map[val] = "Hong Kong"
for val in egypt_list: replace_map[val] = "Egypt"
for val in thailand_list: replace_map[val] = "Thailand"
for val in belgium_list: replace_map[val] = "Belgium"
for val in portugal_list: replace_map[val] = "Portugal"
for val in bahamas_list: replace_map[val] = "Bahamas"
for val in costa_rica_list: replace_map[val] = "Costa Rica"
for val in slovenia_list: replace_map[val] = "Slovenia"
for val in india_list: replace_map[val] = "India"
for val in south_korea_list: replace_map[val] = "South Korea"
for val in indonesia_list: replace_map[val] = "Indonesia"
for val in norway_list: replace_map[val] = "Norway"
for val in singapore_list: replace_map[val] = "Singapore"
for val in others: replace_map[val] = "Others"
for val in new_zealand_list: replace_map[val] = 'New Zealand'
df['work_country'] = df['work_country'].replace(replace_map)

In [15]:
df_subset = df.loc[((df['state(only_USA)'].isna() | df['work_city'].isna())) & (df['work_country']=='USA'),['state(only_USA)','work_city', 'work_country']]
df_subset.loc[:,['state(only_USA)','work_city']].head(2)

df_subset['state(only_USA)'] = df_subset['state(only_USA)'].fillna(df_subset['work_city'])
df_subset['work_city'] = df_subset['work_city'].fillna(df_subset['state(only_USA)'])


df.loc[df_subset.index, ['state(only_USA)', 'work_city']] = df_subset[['state(only_USA)','work_city']]

mask = (df['work_country']=='USA') & (df['work_city'].isna()) & (df['state(only_USA)'].isna())
df  = df.loc[~mask].copy()
df['state(only_USA)'] = df['state(only_USA)'].fillna('OutsideUSA')
df.loc[(((df['state(only_USA)'] == 'OutsideUSA') | (df['work_city'].isna())) & (df['work_country'] == "USA")), ['work_country','state(only_USA)','work_city'] ]

Empty DataFrame
Columns: [work_country, state(only_USA), work_city]
Index: []

In [16]:
df.loc[((df['state(only_USA)'].isna() | df['work_city'].isna())),['state(only_USA)','work_city', 'work_country']].head(5)
df.loc[4299, 'work_city'] = df.loc[4299, 'state(only_USA)']
df.loc[((df['state(only_USA)'].isna() | df['work_city'].isna())),['state(only_USA)','work_city', 'work_country']].head(5)

     state(only_USA) work_city work_country
148       OutsideUSA      None        Spain
944       OutsideUSA      None       Canada
7140      OutsideUSA      None      Ireland
8069      OutsideUSA      None      Finland
9306      OutsideUSA      None  New Zealand

In [17]:
df['education_level']= df['education_level'].fillna(df['education_level'].mode()[0]) 
df['gender'] = df['gender'].fillna(df['gender'].mode()[0])
mask = (df['work_city'].isna())
df = df.loc[~mask].copy()
df = df.drop(columns= 'bonuses')

In [18]:
Q1 = df['annual_salary'].quantile(0.25)
Q3 = df['annual_salary'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = (df['annual_salary'] < lower_bound) | (df['annual_salary'] > upper_bound)
df = df.loc[~outliers].copy()

In [19]:
df.annual_salary.describe()

count     26923.000000
mean      80949.681759
std       37812.750977
min           0.000000
25%       53000.000000
50%       74000.000000
75%      103000.000000
max      193000.000000
Name: annual_salary, dtype: float64

In [20]:
mask = (df['annual_salary']<1000)
df = df.loc[~mask].copy()

In [21]:
df .annual_salary.describe()

count     26802.000000
mean      81314.774159
std       37504.667130
min        1000.000000
25%       53000.000000
50%       74527.000000
75%      103000.000000
max      193000.000000
Name: annual_salary, dtype: float64

In [22]:
industry_map = {
    # --- Technology ---
    'Computing or Tech': 'Technology',
    'Media & Digital': 'Technology',
    'Utilities & Telecommunications': 'Technology',
    'IT Security': 'Technology',
    'Data Analytics': 'Technology',
    'Real estate software': 'Technology',

    # --- Education ---
    'Education (Higher Education)': 'Education',
    'Education (Primary/Secondary)': 'Education',
    'Library': 'Education',
    'Libraries': 'Education',
    'Public Library': 'Education',
    'Public Libraries': 'Education',
    'Public library': 'Education',
    'Academic publishing': 'Education',
    'Professional training': 'Education',
    'e-learning': 'Education',
    'Academia': 'Education',
    'Learning and Development': 'Education',
    'Information services (library)': 'Education',
    'Library/Archive': 'Education',
    'Archives/Library Science': 'Education',
    'Library--public': 'Education',
    'Library/Information managment': 'Education',
    'Public Library (Non-profit, but also government?)': 'Education',

    # --- Nonprofit & Government ---
    'Nonprofits': 'Nonprofit',
    'Philanthropy': 'Nonprofit',
    'Fundraising': 'Nonprofit',
    'Government and Public Administration': 'Government',
    'Politics': 'Government',
    'Law Enforcement & Security': 'Government',
    'Political Consulting': 'Government',
    'Lobbying and consulting': 'Government',

    # --- Healthcare & Life Sciences ---
    'Health care': 'Healthcare',
    'Pharmaceuticals': 'Healthcare',
    'Pharmaceutical': 'Healthcare',
    'Pharma': 'Healthcare',
    'Biotech': 'Healthcare',
    'Biotechnology': 'Healthcare',
    'Scientific Research': 'Healthcare',
    'Science': 'Healthcare',
    'Research': 'Healthcare',
    'Biotechnology/Life Sciences': 'Healthcare',
    'veterinary biotech': 'Healthcare',
    'Biotech Research': 'Healthcare',
    'Laboratory research': 'Healthcare',
    'life sciences': 'Healthcare',
    'Mental health therapist': 'Healthcare',
    'Veterinary services': 'Healthcare',
    'Contract Research': 'Healthcare',

    # --- Finance & Business ---
    'Accounting, Banking & Finance': 'Finance',
    'Insurance': 'Finance',
    'FinTech/Payment Processing': 'Finance',
    'Business or Consulting': 'Business',
    'Recruitment or HR': 'Business',
    'Sales': 'Business',
    'Marketing, Advertising & PR': 'Business',
    'Small business/service company': 'Business',
    'Consumer Product Organization': 'Business',
    'consumer products': 'Business',
    'Program management': 'Business',

    # --- Legal ---
    'Law': 'Legal',

    # --- Engineering, Manufacturing & Construction ---
    'Engineering or Manufacturing': 'Engineering',
    'Manufacturing': 'Engineering',
    'Aerospace/Aviation': 'Engineering',
    'Property or Construction': 'Construction',
    'Real Estate': 'Construction',
    'Real Estate/ Mortgage': 'Construction',
    'Architecture': 'Construction',

    # --- Creative, Arts & Entertainment ---
    'Art & Design': 'Creative',
    'Entertainment': 'Creative',
    'Publishing': 'Creative',
    'Communications/publications': 'Creative',
    'Customer service/publishing-adjacent': 'Creative',
    'Translation': 'Creative',

    # --- Service Industries ---
    'Retail': 'Services',
    'Hospitality & Events': 'Services',
    'Leisure, Sport & Tourism': 'Services',
    'Transport or Logistics': 'Services',
    'Food Service': 'Services',
    'Research and Development, Food and Beverage': 'Services',
    'Food/Beverage Manufacturing- Quality/Laboratory': 'Services',
    'Wine Importing/Distribution': 'Services',
    'Tailoring Service': 'Services',
    'Automotive repair': 'Services',
    'awards and engraving': 'Services',

    # --- Social Work ---
    'Social Work': 'Social Services',

    # --- Agriculture, Energy & Environment ---
    'Agriculture or Forestry': 'Agriculture',
    'Environmental Consulting': 'Environment',
    'Engineering and Environmental Consulting': 'Environment',
    'Waste and recycling': 'Environment',
    'Science and Natural Resource Management': 'Environment',
    'Energy': 'Energy',
    'Oil & Gas': 'Energy',
    'Oil and gas': 'Energy',

    # --- Faith / Spirituality ---
    'Chaplain': 'Religion',
    'Faith/spirituality': 'Religion',

    # --- Catch-all ---
    'Other': 'Other',
    'I work for Indeed.com': 'Other',
    'Wherever I\'m assigned via the union': 'Other',
}


df['industry'] = df['industry'].map(industry_map)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26802 entries, 0 to 28148
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   survey_time              26802 non-null  datetime64[ns]
 1   age                      26802 non-null  object
 2   industry                 25287 non-null  object
 3   job_title                26802 non-null  object
 4   annual_salary            26802 non-null  int64
 5   currency                 26802 non-null  object
 6   work_country             26802 non-null  object
 7   state(only_USA)          26802 non-null  object
 8   work_city                26802 non-null  object
 9   overall_work_experiance  26802 non-null  object
 10  domain_work_experiance   26802 non-null  object
 11  education_level          26802 non-null  object
 12  gender                   26802 non-null  object
 13  ethinicity               26802 non-null  object
dtypes: datetime64[ns](1), int64(1), object(12)
memory usage: 3.1+ MB

In [24]:
mask = (df['industry'].isna())
df = df.loc[~mask]

In [25]:
'''job_mapping = {
    # --- Software & Engineering ---
    "softwareengineer": "Software & Engineering",
    "seniorsoftwareengineer": "Software & Engineering",
    "softwaredeveloper": "Software & Engineering",
    "webdeveloper": "Software & Engineering",
    "devopsengineer": "Software & Engineering",
    "dataengineer": "Software & Engineering",
    "databaseadministrator": "Software & Engineering",
    "systemsengineer": "Software & Engineering",
    "sitereliabilityengineer": "Software & Engineering",
    "softwarearchitect": "Software & Engineering",
    "developer": "Software & Engineering",
    "engineer": "Software & Engineering",
    "civilengineer": "Software & Engineering",
    "electricalengineer": "Software & Engineering",
    "mechanicalengineer": "Software & Engineering",
    "processengineer": "Software & Engineering",
    "qualityengineer": "Software & Engineering",
    "projectengineer": "Software & Engineering",
    "staffengineer": "Software & Engineering",
    "principalengineer": "Software & Engineering",
    "technicalprogrammanager": "Software & Engineering",
    "leadsoftwareengineer": "Software & Engineering",
    "staffsoftwareengineer": "Software & Engineering",
    "seniorsoftwaredeveloper": "Software & Engineering",
    "principalsoftwareengineer": "Software & Engineering",

    # --- Data & Analytics ---
    "dataanalyst": "Data & Analytics",
    "businessanalyst": "Data & Analytics",
    "researchanalyst": "Data & Analytics",
    "policyanalyst": "Data & Analytics",
    "programanalyst": "Data & Analytics",
    "systemsanalyst": "Data & Analytics",
    "researchassociate": "Data & Analytics",
    "datascientist": "Data & Analytics",
    "researchscientist": "Data & Analytics",
    "financialanalyst": "Data & Analytics",
    "seniorfinancialanalyst": "Data & Analytics",
    "senioranalyst": "Data & Analytics",
    "seniordataanalyst": "Data & Analytics",
    "seniorresearchanalyst": "Data & Analytics",
    "businesssystemsanalyst": "Data & Analytics",
    "researchmanager": "Data & Analytics",
    "seniorpolicyanalyst": "Data & Analytics",
    "budgetanalyst": "Data & Analytics",

    # --- Project & Program Management ---
    "projectmanager": "Project & Program Management",
    "programmanager": "Project & Program Management",
    "seniorprojectmanager": "Project & Program Management",
    "itprojectmanager": "Project & Program Management",
    "projectcoordinator": "Project & Program Management",
    "programcoordinator": "Project & Program Management",
    "seniorprogrammanager": "Project & Program Management",
    "programdirector": "Project & Program Management",
    "technicalprojectmanager": "Project & Program Management",
    "programofficer": "Project & Program Management",
    "programassistant": "Project & Program Management",
    "programspecialist": "Project & Program Management",
    "assistantprojectmanager": "Project & Program Management",

    # --- Product Management & Design ---
    "productmanager": "Product & Design",
    "productowner": "Product & Design",
    "seniorproductmanager": "Product & Design",
    "productmarketingmanager": "Product & Design",
    "contentmarketingmanager": "Product & Design",
    "seniorproductdesigner": "Product & Design",
    "productdesigner": "Product & Design",
    "uxdesigner": "Product & Design",
    "senioruxdesigner": "Product & Design",
    "seniorgraphicdesigner": "Product & Design",
    "graphicdesigner": "Product & Design",

    # --- Executive Leadership ---
    "director": "Executive Leadership",
    "executivedirector": "Executive Leadership",
    "associatedirector": "Executive Leadership",
    "assistantdirector": "Executive Leadership",
    "seniordirector": "Executive Leadership",
    "deputydirector": "Executive Leadership",
    "managingeditor": "Executive Leadership",
    "ceo": "Executive Leadership",
    "vicepresident": "Executive Leadership",
    "directorofoperations": "Executive Leadership",
    "directorofhr": "Executive Leadership",
    "directorofengineering": "Executive Leadership",
    "directorofmarketing": "Executive Leadership",
    "communicationsdirector": "Executive Leadership",
    "librarydirector": "Executive Leadership",
    "developmentdirector": "Executive Leadership",

    # --- Human Resources ---
    "hrmanager": "Human Resources",
    "hrdirector": "Human Resources",
    "hrbusinesspartner": "Human Resources",
    "hrcoordinator": "Human Resources",
    "hrspecialist": "Human Resources",
    "hrgeneralist": "Human Resources",
    "humanresourcesmanager": "Human Resources",
    "humanresourcesgeneralist": "Human Resources",
    "humanresourcesdirector": "Human Resources",
    "humanresourcesbusinesspartner": "Human Resources",

    # --- Administration & Office Support ---
    "executiveassistant": "Admin & Office Support",
    "administrativeassistant": "Admin & Office Support",
    "officeadministrator": "Admin & Office Support",
    "officemanager": "Admin & Office Support",
    "administrativecoordinator": "Admin & Office Support",
    "receptionist": "Admin & Office Support",
    "adminassistant": "Admin & Office Support",
    "chiefofstaff": "Admin & Office Support",
    "registrar": "Admin & Office Support",
    "assistant": "Admin & Office Support",
    "senioradministrativeassistant": "Admin & Office Support",

    # --- Legal ---
    "attorney": "Legal",
    "associateattorney": "Legal",
    "lawyer": "Legal",
    "paralegal": "Legal",
    "legalassistant": "Legal",
    "legalsecretary": "Legal",
    "staffattorney": "Legal",
    "counsel": "Legal",

    # --- Finance & Accounting ---
    "accountant": "Finance & Accounting",
    "staffaccountant": "Finance & Accounting",
    "accountingmanager": "Finance & Accounting",
    "controller": "Finance & Accounting",
    "financemanager": "Finance & Accounting",
    "budgetanalyst": "Finance & Accounting",
    "finance director": "Finance & Accounting",
    "bookkeeper": "Finance & Accounting",
    "senioraccountant": "Finance & Accounting",
    "accountdirector": "Finance & Accounting",

    # --- Sales & Customer Success ---
    "accountmanager": "Sales & Customer Success",
    "accountexecutive": "Sales & Customer Success",
    "senioraccountmanager": "Sales & Customer Success",
    "senioraccountexecutive": "Sales & Customer Success",
    "customersuccessmanager": "Sales & Customer Success",
    "customerservicerepresentative": "Sales & Customer Success",
    "customerservicemanager": "Sales & Customer Success",
    "salesmanager": "Sales & Customer Success",
    "salesassociate": "Sales & Customer Success",
    "salesengineer": "Sales & Customer Success",
    "businessdevelopmentmanager": "Sales & Customer Success",

    # --- Marketing & Communications ---
    "marketingmanager": "Marketing & Communications",
    "marketingdirector": "Marketing & Communications",
    "digitalmarketingmanager": "Marketing & Communications",
    "socialmediamanager": "Marketing & Communications",
    "communicationsmanager": "Marketing & Communications",
    "communicationsspecialist": "Marketing & Communications",
    "communicationscoordinator": "Marketing & Communications",
    "seniormarketingmanager": "Marketing & Communications",
    "emailmarketingmanager": "Marketing & Communications",
    "marketingspecialist": "Marketing & Communications",

    # --- Creative & Media ---
    "editor": "Creative & Media",
    "senioreditor": "Creative & Media",
    "associateeditor": "Creative & Media",
    "managingeditor": "Creative & Media",
    "copywriter": "Creative & Media",
    "writer": "Creative & Media",
    "producer": "Creative & Media",
    "reporter": "Creative & Media",
    "artdirector": "Creative & Media",
    "creativedirector": "Creative & Media",
    "contentmanager": "Creative & Media",
    "contentstrategist": "Creative & Media",

    # --- Education & Research ---
    "teacher": "Education & Research",
    "professor": "Education & Research",
    "assistantprofessor": "Education & Research",
    "associateprofessor": "Education & Research",
    "lecturer": "Education & Research",
    "highschoolteacher": "Education & Research",
    "instructor": "Education & Research",
    "academicadvisor": "Education & Research",
    "researchcoordinator": "Education & Research",
    "undergraduateresearcher": "Education & Research",
    "graduatestudent": "Education & Research",
    "student": "Education & Research",

    # --- Healthcare & Clinical ---
    "registerednurse": "Healthcare & Clinical",
    "rn": "Healthcare & Clinical",
    "nursepractitioner": "Healthcare & Clinical",
    "physicianassistant": "Healthcare & Clinical",
    "pharmacist": "Healthcare & Clinical",
    "pharmacytechnician": "Healthcare & Clinical",
    "therapist": "Healthcare & Clinical",
    "psychotherapist": "Healthcare & Clinical",
    "clinicalpsychologist": "Healthcare & Clinical",
    "mentalhealththerapist": "Healthcare & Clinical",
    "socialworker": "Healthcare & Clinical",
    "occupationaltherapist": "Healthcare & Clinical",
    "physicaltherapist": "Healthcare & Clinical",
    "casemanager": "Healthcare & Clinical",
    "clinicalsupervisor": "Healthcare & Clinical",
    "clinicalresearchassistantii": "Healthcare & Clinical",

    # --- Science & Lab ---
    "scientist": "Science & Lab",
    "researchscientist": "Science & Lab",
    "associatescientist": "Science & Lab",
    "seniorscientist": "Science & Lab",
    "postdoc": "Science & Lab",
    "biologist": "Science & Lab",
    "geologist": "Science & Lab",
    "labtechnician": "Science & Lab",

    # --- Operations & Logistics ---
    "operationsmanager": "Operations & Logistics",
    "operationsanalyst": "Operations & Logistics",
    "operationscoordinator": "Operations & Logistics",
    "operationsdirector": "Operations & Logistics",
    "manager": "Operations & Logistics",
    "seniormanager": "Operations & Logistics",
    "supervisor": "Operations & Logistics",
    "teamlead": "Operations & Logistics",
    "teamleader": "Operations & Logistics",
    "branchmanager": "Operations & Logistics",
    "generalmanager": "Operations & Logistics",
    "productionmanager": "Operations & Logistics",
    "logisticsmanager": "Operations & Logistics",

    # --- Library & Archival ---
    "librarian": "Library & Archival",
    "seniorlibrarian": "Library & Archival",
    "libraryassistant": "Library & Archival",
    "referencelibrarian": "Library & Archival",
    "archivist": "Library & Archival",
    "librarydirector": "Library & Archival",
    "youthserviceslibrarian": "Library & Archival",

    # --- Design & Architecture ---
    "architect": "Design & Architecture",
    "interiordesigner": "Design & Architecture",
    "industrialdesigner": "Design & Architecture",

    # --- Government, Policy & Nonprofit ---
    "policyanalyst": "Government & Nonprofit",
    "programofficer": "Government & Nonprofit",
    "developmentmanager": "Government & Nonprofit",
    "developmentassociate": "Government & Nonprofit",
    "developmentcoordinator": "Government & Nonprofit",
    "developmentofficer": "Government & Nonprofit",
    "grantsmanager": "Government & Nonprofit",

    # --- Miscellaneous ---
    "associate": "Other",
    "associateconsultant": "Other",
    "administrator": "Other",
    "buyer": "Other",
    "partner": "Other",
    "proposalmanager": "Other",
}

df['job_title'] = df['job_title'].map(job_mapping).fillna('Others')'''

'job_mapping = {\n    # --- Software & Engineering ---\n    "softwareengineer": "Software & Engineering",\n    "seniorsoftwareengineer": "Software & Engineering",\n    "softwaredeveloper": "Software & Engineering",\n    "webdeveloper": "Software & Engineering",\n    "devopsengineer": "Software & Engineering",\n    "dataengineer": "Software & Engineering",\n    "databaseadministrator": "Software & Engineering",\n    "systemsengineer": "Software & Engineering",\n    "sitereliabilityengineer": "Software & Engineering",\n    "softwarearchitect": "Software & Engineering",\n    "developer": "Software & Engineering",\n    "engineer": "Software & Engineering",\n    "civilengineer": "Software & Engineering",\n    "electricalengineer": "Software & Engineering",\n    "mechanicalengineer": "Software & Engineering",\n    "processengineer": "Software & Engineering",\n    "qualityengineer": "Software & Engineering",\n    "projectengineer": "Software & Engineering",\n    "staffengineer": "Software & Engineering",\n    "principalengineer": "Software & Engineering",\n    "technicalprogrammanager": "Software & Engineering",\n    "leadsoftwareengineer": "Software & Engineering",\n    "staffsoftwareengineer": "Software & Engineering",\n    "seniorsoftwaredeveloper": "Software & Engineering",\n    "principalsoftwareengineer": "Software & Engineering",\n\n    # --- Data & Analytics ---\n    "dataanalyst": "Data & Analytics",\n    "businessanalyst": "Data & Analytics",\n    "researchanalyst": "Data & Analytics",\n    "policyanalyst": "Data & Analytics",\n    "programanalyst": "Data & Analytics",\n    "systemsanalyst": "Data & Analytics",\n    "researchassociate": "Data & Analytics",\n    "datascientist": "Data & Analytics",\n    "researchscientist": "Data & Analytics",\n    "financialanalyst": "Data & Analytics",\n    "seniorfinancialanalyst": "Data & Analytics",\n    "senioranalyst": "Data & Analytics",\n    "seniordataanalyst": "Data & Analytics",\n    "seniorresearchanalyst": "Data & Analytics",\n    "businesssystemsanalyst": "Data & Analytics",\n    "researchmanager": "Data & Analytics",\n    "seniorpolicyanalyst": "Data & Analytics",\n    "budgetanalyst": "Data & Analytics",\n\n    # --- Project & Program Management ---\n    "projectmanager": "Project & Program Management",\n    "programmanager": "Project & Program Management",\n    "seniorprojectmanager": "Project & Program Management",\n    "itprojectmanager": "Project & Program Management",\n    "projectcoordinator": "Project & Program Management",\n    "programcoordinator": "Project & Program Management",\n    "seniorprogrammanager": "Project & Program Management",\n    "programdirector": "Project & Program Management",\n    "technicalprojectmanager": "Project & Program Management",\n    "programofficer": "Project & Program Management",\n    "programassistant": "Project & Program Management",\n    "programspecialist": "Project & Program Management",\n    "assistantprojectmanager": "Project & Program Management",\n\n    # --- Product Management & Design ---\n    "productmanager": "Product & Design",\n    "productowner": "Product & Design",\n    "seniorproductmanager": "Product & Design",\n    "productmarketingmanager": "Product & Design",\n    "contentmarketingmanager": "Product & Design",\n    "seniorproductdesigner": "Product & Design",\n    "productdesigner": "Product & Design",\n    "uxdesigner": "Product & Design",\n    "senioruxdesigner": "Product & Design",\n    "seniorgraphicdesigner": "Product & Design",\n    "graphicdesigner": "Product & Design",\n\n    # --- Executive Leadership ---\n    "director": "Executive Leadership",\n    "executivedirector": "Executive Leadership",\n    "associatedirector": "Executive Leadership",\n    "assistantdirector": "Executive Leadership",\n    "seniordirector": "Executive Leadership",\n    "deputydirector": "Executive Leadership",\n    "managingeditor": "Executive Leadership",\n    "ceo": "Executive Leadership",\n    "vicepresident": "Executive Leadership",\n    "directorofoperations": "Executive Leadership",\n    "directorofhr": "Executive Leadership",\n    "directorofengineering": "Executive Leadership",\n    "directorofmarketing": "Executive Leadership",\n    "communicationsdirector": "Executive Leadership",\n    "librarydirector": "Executive Leadership",\n    "developmentdirector": "Executive Leadership",\n\n    # --- Human Resources ---\n    "hrmanager": "Human Resources",\n    "hrdirector": "Human Resources",\n    "hrbusinesspartner": "Human Resources",\n    "hrcoordinator": "Human Resources",\n    "hrspecialist": "Human Resources",\n    "hrgeneralist": "Human Resources",\n    "humanresourcesmanager": "Human Resources",\n    "humanresourcesgeneralist": "Human Resources",\n    "humanresourcesdirector": "Human Resources",\n    "humanresourcesbusinesspartner": "Human Resources",\n\n    # --- Administration & Office Support ---\n    "executiveassistant": "Admin & Office Support",\n    "administrativeassistant": "Admin & Office Support",\n    "officeadministrator": "Admin & Office Support",\n    "officemanager": "Admin & Office Support",\n    "administrativecoordinator": "Admin & Office Support",\n    "receptionist": "Admin & Office Support",\n    "adminassistant": "Admin & Office Support",\n    "chiefofstaff": "Admin & Office Support",\n    "registrar": "Admin & Office Support",\n    "assistant": "Admin & Office Support",\n    "senioradministrativeassistant": "Admin & Office Support",\n\n    # --- Legal ---\n    "attorney": "Legal",\n    "associateattorney": "Legal",\n    "lawyer": "Legal",\n    "paralegal": "Legal",\n    "legalassistant": "Legal",\n    "legalsecretary": "Legal",\n    "staffattorney": "Legal",\n    "counsel": "Legal",\n\n    # --- Finance & Accounting ---\n    "accountant": "Finance & Accounting",\n    "staffaccountant": "Finance & Accounting",\n    "accountingmanager": "Finance & Accounting",\n    "controller": "Finance & Accounting",\n    "financemanager": "Finance & Accounting",\n    "budgetanalyst": "Finance & Accounting",\n    "finance director": "Finance & Accounting",\n    "bookkeeper": "Finance & Accounting",\n    "senioraccountant": "Finance & Accounting",\n    "accountdirector": "Finance & Accounting",\n\n    # --- Sales & Customer Success ---\n    "accountmanager": "Sales & Customer Success",\n    "accountexecutive": "Sales & Customer Success",\n    "senioraccountmanager": "Sales & Customer Success",\n    "senioraccountexecutive": "Sales & Customer Success",\n    "customersuccessmanager": "Sales & Customer Success",\n    "customerservicerepresentative": "Sales & Customer Success",\n    "customerservicemanager": "Sales & Customer Success",\n    "salesmanager": "Sales & Customer Success",\n    "salesassociate": "Sales & Customer Success",\n    "salesengineer": "Sales & Customer Success",\n    "businessdevelopmentmanager": "Sales & Customer Success",\n\n    # --- Marketing & Communications ---\n    "marketingmanager": "Marketing & Communications",\n    "marketingdirector": "Marketing & Communications",\n    "digitalmarketingmanager": "Marketing & Communications",\n    "socialmediamanager": "Marketing & Communications",\n    "communicationsmanager": "Marketing & Communications",\n    "communicationsspecialist": "Marketing & Communications",\n    "communicationscoordinator": "Marketing & Communications",\n    "seniormarketingmanager": "Marketing & Communications",\n    "emailmarketingmanager": "Marketing & Communications",\n    "marketingspecialist": "Marketing & Communications",\n\n    # --- Creative & Media ---\n    "editor": "Creative & Media",\n    "senioreditor": "Creative & Media",\n    "associateeditor": "Creative & Media",\n    "managingeditor": "Creative & Media",\n    "copywriter": "Creative & Media",\n    "writer": "Creative & Media",\n    "producer": "Creative & Media",\n    "reporter": "Creative & Media",\n    "artdirector": "Creative & Media",\n    "creativedirector": "Creative & Media",\n    "contentmanager": "Creative & Media",\n    "contentstrategist": "Creative & Media",\n\n    # --- Education & Research ---\n    "teacher": "Education & Research",\n    "professor": "Education & Research",\n    "assistantprofessor": "Education & Research",\n    "associateprofessor": "Education & Research",\n    "lecturer": "Education & Research",\n    "highschoolteacher": "Education & Research",\n    "instructor": "Education & Research",\n    "academicadvisor": "Education & Research",\n    "researchcoordinator": "Education & Research",\n    "undergraduateresearcher": "Education & Research",\n    "graduatestudent": "Education & Research",\n    "student": "Education & Research",\n\n    # --- Healthcare & Clinical ---\n    "registerednurse": "Healthcare & Clinical",\n    "rn": "Healthcare & Clinical",\n    "nursepractitioner": "Healthcare & Clinical",\n    "physicianassistant": "Healthcare & Clinical",\n    "pharmacist": "Healthcare & Clinical",\n    "pharmacytechnician": "Healthcare & Clinical",\n    "therapist": "Healthcare & Clinical",\n    "psychotherapist": "Healthcare & Clinical",\n    "clinicalpsychologist": "Healthcare & Clinical",\n    "mentalhealththerapist": "Healthcare & Clinical",\n    "socialworker": "Healthcare & Clinical",\n    "occupationaltherapist": "Healthcare & Clinical",\n    "physicaltherapist": "Healthcare & Clinical",\n    "casemanager": "Healthcare & Clinical",\n    "clinicalsupervisor": "Healthcare & Clinical",\n    "clinicalresearchassistantii": "Healthcare & Clinical",\n\n    # --- Science & Lab ---\n    "scientist": "Science & Lab",\n    "researchscientist": "Science & Lab",\n    "associatescientist": "Science & Lab",\n    "seniorscientist": "Science & Lab",\n    "postdoc": "Science & Lab",\n    "biologist": "Science & Lab",\n    "geologist": "Science & Lab",\n    "labtechnician": "Science & Lab",\n\n    # --- Operations & Logistics ---\n    "operationsmanager": "Operations & Logistics",\n    "operationsanalyst": "Operations & Logistics",\n    "operationscoordinator": "Operations & Logistics",\n    "operationsdirector": "Operations & Logistics",\n    "manager": "Operations & Logistics",\n    "seniormanager": "Operations & Logistics",\n    "supervisor": "Operations & Logistics",\n    "teamlead": "Operations & Logistics",\n    "teamleader": "Operations & Logistics",\n    "branchmanager": "Operations & Logistics",\n    "generalmanager": "Operations & Logistics",\n    "productionmanager": "Operations & Logistics",\n    "logisticsmanager": "Operations & Logistics",\n\n    # --- Library & Archival ---\n    "librarian": "Library & Archival",\n    "seniorlibrarian": "Library & Archival",\n    "libraryassistant": "Library & Archival",\n    "referencelibrarian": "Library & Archival",\n    "archivist": "Library & Archival",\n    "librarydirector": "Library & Archival",\n    "youthserviceslibrarian": "Library & Archival",\n\n    # --- Design & Architecture ---\n    "architect": "Design & Architecture",\n    "interiordesigner": "Design & Architecture",\n    "industrialdesigner": "Design & Architecture",\n\n    # --- Government, Policy & Nonprofit ---\n    "policyanalyst": "Government & Nonprofit",\n    "programofficer": "Government & Nonprofit",\n    "developmentmanager": "Government & Nonprofit",\n    "developmentassociate": "Government & Nonprofit",\n    "developmentcoordinator": "Government & Nonprofit",\n    "developmentofficer": "Government & Nonprofit",\n    "grantsmanager": "Government & Nonprofit",\n\n    # --- Miscellaneous ---\n    "associate": "Other",\n    "associateconsultant": "Other",\n    "administrator": "Other",\n    "buyer": "Other",\n    "partner": "Other",\n    "proposalmanager": "Other",\n}\n\ndf[\'job_title\'] = df[\'job_title\'].map(job_mapping).fillna(\'Others\')'

In [26]:
df.currency.value_counts()

currency
USD        21104
CAD         1549
GBP         1492
EUR          586
AUD/NZD      454
Other         68
CHF           32
SEK            1
JPY            1
Name: count, dtype: int64

In [27]:
df['job_title'] = df['job_title'].str.strip().str.title().str.replace(' ', '')

In [28]:
# Step 1: Look at all "USD" salaries from India
df_cc_check = df.loc[(df['currency'] == 'USD') & (df['work_country'] == 'India')]
df_cc_check['annual_salary'].describe()

count         5.000000
mean      36668.000000
std       42093.100622
min        4740.000000
25%        6600.000000
50%       12000.000000
75%       60000.000000
max      100000.000000
Name: annual_salary, dtype: float64

# Continue from here

In [29]:
df_cc = df.loc[(df['currency'] == 'USD') & (df['work_country'] == 'India')]
df_cc.groupby(['currency','work_country', 'job_title', 'overall_work_experiance'])['annual_salary'].mean().reset_index().sort_values(by = 'annual_salary', ascending= False).iloc[:10]

,currency,work_country,job_title,overall_work_experiance,annual_salary
4,USD,India,SoftwareEngineer,11-20,100000.0
3,USD,India,HighSchoolLibrarian,8-10,60000.0
0,USD,India,Analyst,2-4,12000.0
1,USD,India,Analyst,8-10,6600.0
2,USD,India,EmailMarketingSpecialist,2-4,4740.0

In [31]:
df_usa = df.loc[(df['currency'] == 'USD') & (df['work_country'] == 'USA'),:]

In [38]:
df_usa.groupby(['currency','work_country', 'job_title', 'overall_work_experiance'])['annual_salary'].mean().reset_index().sort_values(by = 'annual_salary', ascending= False).head()

,currency,work_country,job_title,overall_work_experiance,annual_salary
11213,USD,USA,Sr.ProjectLeader,21-30,193000.0
10722,USD,USA,SeniorVicePresidentOfFinance,11-20,192500.0
7927,USD,USA,PortfolioManager,11-20,192000.0
12431,USD,USA,VicePresidentOfSales,8-10,192000.0
10575,USD,USA,"SeniorSoftwareEngineer,Devops",5-7,192000.0

# The data is cleaned now we can proceed to data vizualization